html {
    height: 100%;
    background: black;
    background: linear-gradient(gray,black);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    border: 2px solid black;
    margin: 10pt;
}

.inset {
    width: 100%;
    max-width: 820px;
    margin: auto;
    border: 2px solid #1A5276;
    background-image: url("saturn.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cbcbcb;
    border-radius: 10px;
}

h1 {
    margin: 20px 10px 0px 10px;
}

#right {
    float: right;
    position: relative;
    left: -3.5%;
    width: 55%;
    max-width: 300px;
}

#left {
    display: inline;
    text-align: center;
}

#body {
    text-align: justify;
    margin: 10pt;
    clear: both
}
