html {
    background-image: url("saturn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

body {
    width: 86%;
    max-width: 720px;
    background: #FBEEE9F3;
    border: 2px solid #063042;
    border-radius: 20px;
    margin: 20pt auto 20pt auto;
    padding: 20pt;
    color: #063042;
    text-align: justify;
}

h1 {
    margin: 0.3em 0em 0em 0em;
    color: #004C75;
    text-align: center;
}

h2 {
    margin: 0.3em 0em 0em 0em;
    color: #004C75;
    text-align: left;
}

p {
    margin: 0.5em 0em;
    line-height: 1.4;
}

li {
    padding: 4pt;
}

pre {
    margin: 0pt;
}

a {
    color: #004C75;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 12pt;
}

p > code, li > code {
    background: rgba(0, 0, 0, .1);
}

div.sourceCode, pre.verbatim {
    background: rgba(0, 0, 0, .1);
    border: 2px solid grey;
    border-radius: 5pt;
    margin: 0.5em 1em;
    padding: 2pt 5pt;
    font-size: 12pt;
}

.cell {
    margin: 2pt 0pt;
    overflow: hidden;
}

.output {
    padding: 2pt 5pt;
    font-size: 12pt;
    border-left: 2px solid silver;
}

.stderr {
    border-left: rgba(100, 0, 0, .1);
    font-size: 12pt;
}

p > img {
    display: block;
    float: none;
    width: 100%;
    height: auto;
    max-width: 500px;
}

table {
    width: 100%;
    font-size: 20pt;
    color: #004C75;
    text-decoration: none;
}

#nav {
    text-decoration: none;
}

#nav:hover {
    text-decoration: underline;
}

#right {
    text-align: right;
}

#refs {
    font-size: 10pt;
    text-align: left;
}

#sideimg {
    display: inline-flex;
    float: right;
    max-width: 40%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0pt 10pt;
}

#portrait {
    display: inline-flex;
    float: right;
    max-width: 35%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0pt 10pt;
}

#logo {
    height: 20pt;
    width: auto;
    padding: 0pt;
    margin: 0pt, 20pt;
}

/* Overrides for narrow screens */
@media screen and (max-width: 720px) {
    #sideimg {
        display: block;
        float: none;
        margin: auto;
    }

    #portrait {
        display: block;
        float: none;
        margin: auto;
    }

    #nav {
        font-size: 16pt;
    }
}
